# Dataset files
liar_dataset/

# Trained model files
*.pkl

# Python cache
__pycache__/
*.pyc
*.pyo

# ASP.NET secrets
appsettings.json
appsettings.Development.json

# Node / React
node_modules/
dist/
.env

# VS files
.vs/
bin/
obj/

# OS files
.DS_Store
Thumbs.db